.falling-banana {
  position: absolute;
  animation: fall 3s ease-in-out forwards; /* animation สำหรับตกลงมา */
}

@keyframes fall {
  0% {
    top: -100px; /* เริ่มต้นที่ตำแหน่งด้านบน */
    opacity: 1; /* เริ่มต้นด้วยความชัด */
  }
  100% {
    top: 90vh; /* กล้วยจะตกลงมาที่ตำแหน่งด้านล่างสุด */
    opacity: 0; /* ทำให้กล้วยหายไปเมื่อถึงจุดต่ำสุด */
  }
}
