.btn-rounded {
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-rounded:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.zoom {
  animation: zoom 2s infinite ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.rotateAnimated {
  animation: rotateAnimated 2s infinite;
}

@keyframes rotateAnimated {
  50% {
    transform: rotate(180deg);
  }
}
